@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=VT323&display=swap');

* {
  font-family: 'Cormorant Garamond', serif;
  font-weight: '300';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

:root {
  --primary: #ff4500;
  --secondary: #008080;
  --secondary-dark: #012222;
  --light: #fffcfa;
  --dark: #111;
  --grey-light-extra: #eee;
  --grey-light: #ccc;
  --grey-medium: #999;
  --grey-dark: #333;
  --size-1: 1px;          /* 0.1rem */
  --size-2: 2px;          /* 0.2rem */
  --size-3: 3px;          /* 0.3rem */
  --size-4: 4px;          /* 0.4rem */
  --size-5: 5px;          /* 0.5rem */
  --size-6: 6px;          /* 0.6rem */
  --size-8: 8px;          /* 0.8rem */
  --size-12: 12px;        /* 1.2rem */
  --size-14: 14px;        /* 1.4rem */
  --rem-1: 1rem;          /* 10px */
  --rem-1-5: 1.5rem;      /* 15px */
  --rem-1-6: 1.6rem;      /* 16px */
  --rem-2: 2rem;          /* 20px */
  --rem-2-5: 2.5rem;      /* 25px */
  --rem-3: 3rem;          /* 30px */
  --rem-3-5: 3.5rem;      /* 35px */
  --rem-4: 4rem;          /* 40px */
  --rem-5: 5rem;          /* 50px */
  --rem-6: 6rem;          /* 60px */
  --rem-8: 8rem;          /* 80px */
  --rem-10: 10rem;        /* 100px */
}

.feature-font {
  font-family: 'VT323', monospace;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-dark);
}

.menu-icon {
  width: var(--rem-3);
  height: var(--rem-3);
  position: fixed;
  top: var(--rem-5);
  right: var(--rem-5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  z-index: 200;
}

.line {
  width: var(--rem-3);
  height: var(--size-2);
  background-color: var(--primary);
  transition: transform 0.5s;
}

.change .line-1 {
  transform: rotateZ(45deg) translate(0.7rem, -0.1rem);
}

.change .line-2 {
  transform: rotateZ(-45deg) translate(0.7rem, -0.1rem);
}

.navigation {
  width: 50rem;
  height: 100vh;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  padding-left: 8rem;
}

.nav-items {
  display: flex;
  flex-direction: column;
}

.nav-items a {
  font-size: var(--rem-3);
  text-transform: uppercase;
  letter-spacing: var(--size-2);
  color: var(--primary);
  margin: var(--rem-1) 0;
  transition: color 0.5s;
}

.nav-items a:hover {
  color: var(--light);
}