@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
  font-family: 'Cormorant Garamond', serif;
  font-weight: '300';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

:root {
  --primary: #ff4500;
  --secondary: #39dada;
  --secondary-dark: #012222;
  --light: #fffcfa;
  --dark: #111;
  --grey-light-extra: #eee;
  --grey-light: #ccc;
  --grey-medium: #999;
  --grey-dark: #333;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-dark);
}

.menu-icon {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  z-index: 200;
}

.line {
  width: 3rem;
  height: 0.2rem;
  background-color: var(--primary);
  transition: transform 0.3s;
}

.change .line-1 {
  transform: rotateZ(45deg) translate(0.7rem, -0.1rem);
  transition: background-color 0.3s 0.3s;
}

.change .line-2 {
  transform: rotateZ(-45deg) translate(0.7rem, -0.1rem);
  transition: background-color 0.3s 0.3s;
}

.change .line-1,
.change .line-2 {
  background-color: var(--secondary);
}

.navigation {
  position: fixed;
  top: -8rem;
  right: -63rem;
  width: 50rem;
  transform: rotateZ(-15deg);
  height: 100vh;
  background-color: var(--dark);
  z-index: 100;
  display: flex;
  align-items: center;
  padding-left: 8rem;
  z-index: 150;
  transition: all 0.6s;
}

.change .navigation {
  top: 0;
  right: 0;
  transform: rotateZ(0);
}

.nav-items {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}

.change .nav-items {
  opacity: 1;
  visibility: visible;
  transition: 0.5s 0.7s;
}

.navigation .section-border {
  opacity: 0;
  visibility: hidden;
}

.change .navigation .section-border {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s 0.7s;
}

.nav-items a {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--primary);
  margin: 1rem 0;
  transition: color 0.5s;
}

.nav-items a:hover {
  color: var(--secondary);
}

.landing {
  width: 100%;
  height: 100vh;
  position:relative;
}

.section-bg-heading {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 30rem;
  font-family: 'Amatic SC', sans-serif;
  color: var(--primary);
  opacity: 0.1;
}

.logo {
  position: absolute;
  top: 4rem;
  left: 5rem;
  font-size: 3rem;
  display: flex;
  align-items: center; 
}

.logo span {
font-family: 'Amatic SC', sans-serif;
}

.logo span:nth-child(1) {
  color: var(--secondary);
  
}

.logo span:nth-child(2) {
  color: var(--primary);
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.section-border {
  height: 55rem;
  width: 0.3rem;
  background-color: var(--secondary);
  margin-right: 10rem;
  position: relative;
}

.section-border::before,
.section-border::after {
  content: '';
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid var(--secondary);
  border-radius: 50%;
  background: var(--secondary-dark);
  position: absolute;
  left: -1.65rem;
}

.section-border::before {
  top: -3rem;
}

.section-border::after {
  bottom: -3rem;
}

.developer-info {
    margin-right: 15rem;
}

.greeting {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--secondary);
  letter-spacing: 0.1rem;
}

.name {
  font-size: 10rem;
  width: 60rem;
  margin: 2rem 0 2rem 0;
  color: var(--primary)
}

.name span {
  font-family: 'Amatic SC', sans-serif;
}

.name span:nth-child(2) {
  color: var(--secondary);
}

.profession {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--secondary);
  letter-spacing: 0.2rem;
  margin-bottom: 6rem;
}

.about {
  width: 60rem;
  font-size: 2.5rem;
  line-height: 1;
  color: var(--primary);
  margin-bottom: 5rem;
}

.social-media {
  margin-bottom: 5rem;
}

.social-media i {
  font-size: 2.5rem;
  color: var(--secondary);
  margin-right: 2rem;
  cursor: pointer;
}

.dev-img-wrapper {
  width: 60rem;
  height: 60rem;
  border-radius: 50%;
  background-color: transparent;
  padding: 2rem 2rem 0 2rem;
  box-shadow: 0 -0.5rem 0.5rem rgba(255, 68, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.dev-img-wrapper img {
  width: 100%;
  height: 100%;
}

.btn {
  width: 20rem;
  height: 6rem;
  border: 0.2rem solid var(--secondary);
  border-radius: 0.3rem;
  background-color: transparent;
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  margin-right: 7rem;
}

.btn::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scale(0);
  transition: transform 0.3s;
}

@media (max-width: 1700px) {
  html {
    font-size: 57%;
  }
  .navigation {
    right: -70rem;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 52%;
  }
  .section-bg-heading {
    font-size: 23rem;
  } 
}

@media (max-width: 1200px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 39%;
  }
  .section-border {
    display: none;
  }
  .section-bg-heading {
    font-size: 20rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 35%;
  }
  .section-bg-heading {
    font-size: 17rem;
  }
  .developer-img {
    display: none;
  }
}

@media (max-width: 500px) {
  .navigation {
    width: 100%;
    right: -100rem;
    justify-content: center;
    text-align: center
  }
}
